.container {
    width: 1920px !important;
}

.js__forms {
    margin-top: 70px;
    margin-bottom: 100px;
}

.types-select {
    border-radius: 15px !important;
    width: 260px !important;
}

.js__search {
    border-radius: 15px !important;
    width: 300px !important;
}

.az-select {
    border-radius: 15px !important;

    width: 260px !important;
}

.submit {
    border: 1px solid #ced4da !important;
    border-radius: 15px !important;
    width: 200px !important;
}
